<!DOCTYPE html>
<html>
<head>
<title>Sign up</title>
<link rel="stylesheet" href="static/signin.css">
</head>
<body>
<div id="main-wrapper">
<center>
<h2>Sign up </h2>
</center>

<form class="myform" action="{{url_for('signup')}}"method="post">
<label><b>Username:<b></label><br>
<input name="username" type="text" class="inputvalues" placeholder="Type your username"/><br>

<label><b>Password:<b></label><br>
<input name="password" type="password" class="inputvalues" placeholder="Type your password"/><br>
<label><b>Confirm Password:</b></label><br>

<input name="submit_btn" type="submit" id="signup_btn" value="Sign up"/><br>
</form>

</div>
</body>
</html>
